{% extends 'base.html.twig' %}

{% block title 'Help' %}

{% block body %}
    <h1>Help</h1>

    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A accusantium alias aliquam atque, autem excepturi
        explicabo incidunt iste iure minus nesciunt odit officiis quaerat reprehenderit sequi, similique voluptates!
        Odit, voluptatibus!</p>

{% endblock %}
